@section Scripts
{
    <script src="@Url.Content("~/js/Zad5.js")"></script>
}

<select id="tagSelect" class="margined">
    <option>Select</option>
</select>

<div>
    Quotes:
    <ul id="quotesUl"></ul>
</div>


<div id="randomMeme" class="margined"></div>